@font-face {
  font-family: chrysuni;
  src: url('../public/chrysuni.ttf');
}

* {
  box-sizing: border-box;
  --primary-colour: rgba(245, 176, 39);
  --font-colour: black;
  font-family: chrysuni;
}

/* Navbar Component Styles */

.Navbar-Component-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-colour);
  color: var(--font-colour);
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.nav-links li:hover {
  color: black;
  cursor: pointer;
}

/* Hero Component Styles */

.hero {
  background: url('https://images.unsplash.com/photo-1597290282695-edc43d0e7129?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2075&q=80')
    center/cover no-repeat;
  height: 50vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-colour);
}

.hero-content {
  text-align: center;
  background: rgb(245, 176, 39, 0.9);
  padding: 20px;
  border-radius: 5px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cta-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #e68a00;
}
