* {
  box-sizing: border-box;
}

/* Navbar Component Styles */

.Navbar-Component-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.nav-links li:hover {
  color: black;
  cursor: pointer;
}

/* Hero Component Styles */

.hero {
  background-color: #e68a00;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cta-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #e68a00;
}
